<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"  href="{{url_for('static', filename='images/icon.png')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/theory.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
              src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <title>Теорія</title>
</head>
<body>
    <section class="container">
        <header>
            <br>
            <h1>Теоретичні відомості </h1>
            <br>
        </header>
        <div id="guide">

            <h3>Інтегральні рівняння Фредгольма</h3>
            <p> Інтегральне рівняння - рівняння, в якому шукана функція знаходиться під знаком інтегралу.
                Розрізняють лінійні та нелінійні інтегральні рівняння, в залежності від того, чи залежить рівняння від
                невідомої функції лінійним чи нелінійним чином.</p>
            <p> Розглянемо наступне рівняння:</p>
            <p> \[y(x) = \lambda\cdot\int_a ^b K(x, t)\cdot y(t)  dt + \varphi(x)\] </p>
            <p> Дане рівняння називається <b>неоднорідним лінійним інтегральним рівнянням Фредгольма другого роду</b>,
                де \(K(x, t) \) - ядро інтегрального рівняння, \(\varphi(x) \) - довільна задана функція, \(\lambda\)
                - заданий параметр.</p>
            <p> У випадку, якщо \(\varphi(x) \equiv 0\), рівняння називають <b>однорідним</b>. </p>
            <h3> Метод стискаючих відображень та його застосування до рівняння Фредгольма</h3>
            <p> <b>Метод стискаючих відображень</b> – ітераційний метод, що використовується для розв’язку багатьох типів
                рівнянь, зокрема інтегральних рівнянь Фредгольма другого роду.</p>
            <p> Нехай \(\mathbb R\) – метричний простір. Тоді відображення \(A\)  простору \(\mathbb R\)  в себе називається
                <b>стискаючим</b> за умови, що існує така константа \(\alpha < 1\), що для будь-яких двох точок
                \(x_{1}, x_{2} \in \mathbb R\) виконається наступна нерівність:
                \[\rho(Ax_{1},Ax_{2} )≤ \alpha\cdot\rho(x_{1},x_{2})\]</p>
            <p>Точка \(x\) називається <b>нерухомою точкою</b> відображення \(A\), якщо \(Ax = x\).</p>
            <h5>Теорема Банаха (принцип стискаючих відображень)</h5>
            <p> Будь-яке стискаюче відображення, що визначене в повному метричному просторі \(\mathbb R\) має тільки
                одну нерухому точку.</p>

            <p> Тепер застосуємо метод стискаючих відображень для доведення існування та єдиності розв’язку
                неоднорідного лінійного інтегрального рівняння Фредгольма другого роду та побудови ітераційної
                процедури для знаходження цього розв'язку:</p>
            <p> Припустимо, що \(K(x, t) \) і \(\varphi(x) \) неперервні при \(a\le x\le b, a\le t\le b\) і тоді
                \(|K(x, t)|\le M. \)</p>
            <p>
                Розглянемо відображення \(g = Af\) повного простору \(\mathbb C[a, b]\) в себе, що задається формулою:
                \[g(x) = \lambda\cdot\int_a ^b K(x, t)\cdot f(t)  dt + \varphi(x),\]</p>
            <p>
                Маємо \(\rho(g_{1}, g_{2}) = \max|g_{1}(x) - g_{2}(x)|\le |\lambda|\cdot M\cdot (b-a)\cdot
                \max|f_{1}(x) - f_{2}(x)|\)
            </p>
            <p> Тоді маємо що при \(\lambda < \frac{1}{M(b-a)}, A - \) стискаюче.</p>
            <p> Тобто у випадку неоднорідного лінійного інтегрального рівняння Фредгольма другого роду
                коефіцієнт \(\alpha = \lambda\cdot M\cdot (b-a)\).
            </p>
            <p>
                З принципу стискаючих відображень можна заключити, що для всякого \(\lambda з |\lambda|
                < \frac{1}{M(b-a)}\) рівняння Фредгольма має єдиний неперервний розв’язок.
            </p>
            <p>
                Послідовні наближення \(f_{0},f_{1},\ldots,f_{n}, \ldots \) мають вигляд:
                \[f_{n}(x) = \lambda\cdot\int_a ^b K(x, t)\cdot f_{n-1}(t)  dt + \varphi(x)\]
            </p>
            <p>
                В якості \(f_{0}(x)\) можна взяти будь-яку неперервну на \([a, b]\) функцію, наприклад \(\varphi(x).\)
            </p>
            <p> Оцінка похибки методу стискаючих відображень вилпиває безпосередньо з доведення теореми Банаха:
                \[\rho(y_{n}(x), y_{точне}(x))\le \frac{\alpha^n\cdot a}{1-\alpha}, де\]
                \[a = \max_{x\in [a, b]} |y_{0}(x) - y_{1}(x)| \]
                Дана формула дасть абсолютну похибку обчислень, що часто є досить грубою оцінкою точності розв'язку
                та не завжди дає зрозуміти, наскільки точним вийшов реузльтат.
                Відносна похибка обчислень знаходиться наступним чином:
                \[\delta_{відносна} = \frac{\rho(y_{n}(x), y_{точне}(x))}{||y_{n}||}\],
                \[||y_{n}|| = \max_{x\in [a, b]} |y_{n}(x)|\]</p>
            <h3>Базові поняття теорії метричних просторів</h3>
            <p> Метод стискаючих відображень опирається на поняття метричного простору, повного простору,
                стискаючого відображення та теореми Банаха. Відповідно, наведемо ці відомості.</p>
            <p> <b>Метричним простором</b> називається пара \(\mathbb (X, \rho)\), що складається з простору
                \(\mathbb Х\) елементів та <b>відстані</b>, тобто однозначної невід’ємної, дійсної функції
                \(\rho(x,y)\), визначеної для будь-яких \(x,y \in \mathbb X\) і такої, що задовольняє трьом
                наступним аксіомам:</p>
            <ul>
                <li>\(\rho(x,y)=0\) тоді і тільки тоді, коли \(x=y\);</li>
                <li>\(\rho(x,y)=\rho(x,y)\);</li>
                <li>\(\rho(x,z)≤\rho(x,y)+\rho(y,z)\)</li>
            </ul>
            <p> Зручно позначати \(\mathbb R=(\mathbb X, \rho)\)</p>
            <p> Розглянемо також простір \(\mathbb C[a,b]\) всіх неперервних на відрізку \([a,b]\) функцій. В даному
                просторі відстань визначається наступним способом:
                \[\rho(f, g) = \max_{a\le t\le b} |g(t) - f(t)|\]</p>
            <p> Перевірити, що даний простір є метричним можна безпосередньо перевіривши аксіоми метричного простору для
                \(\rho(f, g).\)
            </p>
            <p> Послідовність \({x_{n}}\) є <b>збіжною</b> до точки \(x\), якщо:
                \[ \lim_{n\to\infty} \rho(x, x_{n}) = 0\]
            </p>
            <p>
                Послідовність \({x_{n}}\) точок метричного простору \(\mathbb R\) називається <b>фундаментальною</b>,
                якщо вона задовольняє критерію Коші, тобто якщо для будь-якого \(\varepsilon < 0\) існує таке число
                \(N_{\varepsilon}\), що \( \rho(x_{n^{'} },x_{n^{''} }) < \varepsilon\) для всіх \(n^{'}>N_{\varepsilon}
                ,n^{''}>N_{\varepsilon}.\)</p>
            <p> Якщо в просторі \(\mathbb R\) будь-яка фундаментальна послідовність збіжна, то цей простір
                називається <b>повним</b>. </p>

        </div>
        <br>
        <div class="form-group text-center" id="submit_button">
            <button type="submit" class="btn btn-primary " name='send' id='send'>
                <a href="{{ url_for('index') }}">Назад </a>  </button>
        </div>
        <br>
    </section>
</body>
</html>